@model CvViewModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV example</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="cv">
        <div class="cv-header">
            <div class="cv-header__left">
                <div class="cv-header__photo">
                    <img class="cv-header__photo--image" src="/Uploads/ya.jpg" alt="myPhoto">
                </div>
            </div>
            <div class="cv-header__right">
                <div class="cv-header__fullname">
                    <div class="cv-header__fullname--black">Ярослав</div>
                    <div class="cv-header__fullname--orange">Щурко</div>
                </div>
                <div class="cv-header__info">
                    <div class="cv-header__text">+375291681486</div>
                    <div class="cv-header__text">bombatiktak@mail.ru</div>
                    <a href="https://github.com/BelovBanana" class="cv-header__text">https://github.com/BelovBanana</a>
                </div>
            </div>
        </div>
        <div class="cv-main">
            <div class="cv-main__summary cv-main__margin-bottom">
                <div class="cv-main__summary--header">Резюме</div>
                <div class="cv-main__summary--text">
                    Молодой и амбициозный разработчик программного обеспечения с страстью к технологиям 
                    и компьютерному программированию. Обладаю знаниями и навыками в различных языках 
                    программирования и технологиях, и стремлюсь к долгосрочной карьере в сфере разработки.
                </div>
            </div>
            <div class="cv-main__summary cv-main__margin-bottom">
                <div class="cv-main__certifications--header">Стек технологий</div>
                <div class="cv-main__summary--text">
                    Языки программирования: C++, C#, JavaScript<br />
                    Веб-технологии: HTML, CSS, React, Angular<br />
                    Базы данных: MSSQL<br />
                    Фреймворки: ASP.NET Core MVC<br />
                    Опыт работы с системами контроля версий: Git<br />
                </div>
            </div>
            <div class="cv-main__summary cv-main__margin-bottom">
                <div class="cv-main__certifications--header">Опыт</div>
                <div class="cv-main__summary--text">
                    Разрабатывал программное обеспечение по автоматизации рабочего процесса складского комплекса на С++.<br />
                    Веб-приложение для рандомизации случайного заведения в заданном пользователем диапазоне, а также критериям.
                    Стек технологий: JS,HTML,CSS,MsSQL
                </div>
            </div>
            <div class="cv-main__summary cv-main__margin-bottom">
                <div class="cv-main__certifications--header">Образование</div>
                <div class="cv-main__summary--text">
                    Присутствует
                </div>
            </div>
            <div class="cv-main__summary cv-main__margin-bottom">
                <div class="cv-main__certifications--header">Основные навыки</div>
                <div class="cv-main__summary--text">
                    Готов к обучению и приобретению новых навыков
                    Целеустремленный и ответственный
                    Интерес к разработке программного обеспечения и улучшению навыков
                </div>
            </div>
        </div>
    </div>
</body>

</html>